<div class="container">
<h1>
  Courses:
  <%= @courses.count %>
</h1>
<div class="card-group">
  <% @courses.each do |course| %>
  <%= course.test %>
    <%= render 'courses/course', course: course %>
  <% end %>
  
  
</div>
<br/>
<br/>
</div>
