<hr/>
<h2>
  Popular courses
</h2>
<div class="card-columns">
  <% @courses.each do |course| %>
    <%= render 'courses/course', course: course %>
  <% end %>
</div>
<hr/>
<h2>
  Top rated courses
</h2>
<div class="card-columns">
  <% @courses.each do |course| %>
    <%= render 'courses/course', course: course %>
  <% end %>
</div>
<hr/>
<h2>
  Latest courses
</h2>
<div class="card-columns">
  <% @latest_couses.each do |course| %>
    <%= render 'courses/course', course: course %>
  <% end %>
</div>